

.agro-page-header {
    background-color: #d53032;
    color: #ffd700;
    height: 100px;
    position: relative;
    top: -30px;
    text-align: center;
    padding: 35px;
}

.agronom-space-calc {
    font-family: 'Roboto Condensed', sans-serif;;
}

.input-name {
    margin: 15px;
    font-weight: 700;
}

.input-int-rows {
    width: 292px;
    margin: 0px auto 10px 5px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #d53032;
    font-weight: 700;
    background-color: whitesmoke;
    outline: 0;
    outline-offset: 0;
    padding: 10px;
}

.input-int-columns {
    width: 292px;
    margin: 0px auto 10px 5px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #d53032;
    font-weight: 700;
    background-color: whitesmoke;
    outline: 0;
    outline-offset: 0;
    padding: 10px;
}

.sorts-gertars-nput {
    width: 140px;
    margin: 0px auto 10px 5px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #d53032;
    font-weight: 700;
    background-color: whitesmoke;
    outline: 0;
    outline-offset: 0;
    padding: 10px;
}

.calc-main {
    background-color: whitesmoke;
    border: 1px solid #d53032;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    margin: 0px auto;
    border-radius: 5px;
}

.gektars-container-input {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 0px;
}

.space-calc-input-name {
    width: 292px;
    margin: 0px auto 10px 5px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #d53032;
    font-weight: 700;
    background-color: whitesmoke;
    outline: 0;
    outline-offset: 0;
    padding: 10px;
}



.space-page {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Condensed', sans-serif;
}

.space-container {
    background-color: whitesmoke;
    border: 1px solid #d53032;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    margin: 0px auto 0px 40px;
    border-radius: 10px;
    
}

.space {
    border: 1px solid #d53032;
    border-radius: 5px;
    background-image: url("https://travelask.ru/system/images/files/001/035/332/wysiwyg/Screenshot_20180213-122828.jpg?1518514534");
    background-size: cover;
    width: 80%;
    height: 80px;
    margin: 15px auto;
    transition: 0.333s;
    
}

.space:hover {
    border: 1px solid #d53032;
    border-radius: 5px;
    background-image: url("https://travelask.ru/system/images/files/001/035/332/wysiwyg/Screenshot_20180213-122828.jpg?1518514534");
    background-size: cover;
    width: 90%;
    height: 120px;
    transition: 0.333s;
}


.container-name-space {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
}

.space-closed {
    display: none;
}

.space-opened {
    width: 1000px;
    height: 700px;
    background-color: whitesmoke;
    margin: auto;
    border: 1px solid #d53032;
    border-radius: 5px;
    transition: 0.333s;

}


.space-opened.active { animation:fade 5s ease; }    

.add-space-button {
    background-color:#d53032;
    color: #ffd700;
    border-radius: 20px;
    border: none;
    width: 292px;
    margin: auto 0px auto 9px;
    height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;  
}

.container-name-space-opened {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #d53032;
    margin: 10px;
    border-radius: 5px;
    font-weight: 700;
    color: #d53032;
}

.container-space-information {
    text-align: left;
    border: 1px solid #d53032;
    margin: 10px;
    border-radius: 5px;
    font-weight: 600;
    color: #d53032;
    padding: 5px;
}


ul li {
    display: inline;
}

li {
    margin: 0 5px;
}

.space-sorts {
padding-left: 0%;
}

.container-space-opened-visual {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    border: 1px solid #d53032;
    border-radius: 5px;
}

.space-information {
    border: 1px solid #d53032;
    border-radius: 5px;
    height: 300px;
    width: 250px;
    margin: 30px auto;
    padding: 10px;
}

.map-container {
    width: 300px;
    height: 300px;
}

.ya-maps {
    width: 100px;
}

.show-map-button {
    background-color:#d53032;
    color: #ffd700;
    border-radius: 20px;
    border: none;
    width: auto;
    margin: auto 0px auto 9px;
    height: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700; 
}

.calc-container {
  background-color: whitesmoke;
  border: 1px solid #d53032;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  height: auto;
  margin: 0px auto;
  border-radius: 10px;
}

.agro-space-calc-header {
  background-color: #d53032;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}

.calc-name-brigade {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px auto;
  border: 1px solid #d53032;
  border-radius: 5px;
  padding: 10px;
}

.select-container {
    width: 30%;
}

.react-select {
    width: 100%;
    margin-top: 60px;
}

.p-select-sorts {
    margin: 18px 0px -40px 0px;
    font-weight: 700;
}

.selected {
    background-color: whitesmoke;
    border: 1px solid #d53032;
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: auto;
    width: auto;
    margin:20px auto;
    border-radius: 10px;
}

.visual-antd-continer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    border: 1px solid #d53032;
    margin: 20px 0;
    padding: 30px;
    border-radius: 10px;
}

.save-space-button {
    background-color:#d53032;
    color: #ffd700;
    border-radius: 20px;
    border: none;
    width: 292px;
    margin: auto 0px auto 9px;
    height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700; 
}

.files-data-container {
    background-color: whitesmoke;
    border: 1px solid #d53032;
    width: 300px;
    height: 300px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
}

.dragger {
    width: 100px;
    border-radius: 20px;
}

